<style>
  @media (min-width: 768px) {
    main {
      margin: 0 100px;
    }
  }
</style>
<header class="flex flex-col items-center justify-center px-4 py-4">
  <nav class="bg-white border-gray-200 font-bold">
    <div
      class="flex flex-col items-center justify-center lg:flex-row lg:justify-between lg:space-x-36 py-2"
    >
      <a
        href="https://www.tintasimperio.com.br/"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img
          loading="lazy"
          src="/imagens/logo.avif"
          class="h-12 w-[85px]"
          alt="Império das Tintas Logo"
        />
      </a>
      <div
        class="flex items-center space-x-4 rtl:space-x-reverse lg:space-x-10 md:order-2 lg:order-2"
      >
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=5519995820350&text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos!!"
        >
          <button
            type="button"
            class="text-white bg-blue-700 hover:scale-105 hover:bg-blue-800 duration-75 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-4 py-2 text-center lg:visible lg:inline-flex hidden"
          >
            Solicitar Orçamento
          </button>
        </a>
        <button
          data-collapse-toggle="navbar-cta"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-blue-600 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 order-2 mt-4 lg:mt-0"
          aria-controls="navbar-cta"
          aria-expanded="false"
        >
          <span class="sr-only">Abrir menu</span>
          <svg
            class="w-14 h-14"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-center hidden w-auto lg:flex lg:w-auto"
        id="navbar-cta"
      >
        <ul
          class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:space-x-20 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-white"
        >
          <li>
            <a
              aria-current="page"
              href="#sobre"
              class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
              >Sobre Nós</a
            >
          </li>
          <li>
            <a
              aria-current="page"
              href="#porque"
              class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
              >Por que Nós</a
            >
          </li>
          <li>
            <a
              aria-current="page"
              href="#depoimentos"
              class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
              >Depoimentos</a
            >
          </li>
          <li>
            <a
              aria-current="page"
              href="#faq"
              class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
              >FAQ</a
            >
          </li>
          <li>
            <a
              aria-current="page"
              href="#contato"
              class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
              >Contato</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="hidden lg:hidden" id="navbar-cta-mobile">
      <ul
        class="flex text-xl flex-col justify-center font-medium p-4 mt-4 border border-blue-100 items-center rounded-lg rtl:space-x-reverse"
      >
        <li>
          <a
            aria-current="page"
            href="#sobre"
            class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
            >Sobre Nós</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            href="#porque"
            class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
            >Por que Nós</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            href="#depoimentos"
            class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
            >Depoimentos</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            href="#faq"
            class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
            >FAQ</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            href="#contato"
            class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
            >Contato</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
