<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Império das Tintas</title>
    <style>
      main {
        margin: 0 30px;
      }

      @media (min-width: 768px) {
        main {
          margin: 0 100px;
        }
        .card-container {
          position: relative;
          height: 500px; /* Ajuste a altura conforme necessário */
        }
        .card-left,
        .card-right {
          position: absolute;
          width: 45%;
        }
        .card-left {
          top: 0;
          left: 0;
        }
        .card-right {
          bottom: 0;
          right: 0;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <header>
        <nav class="bg-white border-gray-200 font-Poppins font-bold">
          <div class="flex flex-1 items-center justify-around py-2">
            <a
              href="https://www.tintasimperio.com.br/"
              class="flex items-center space-x-3 rtl:space-x-reverse"
            >
              <img
                src="/imagens/logo.png"
                class="h-12 w-auto"
                alt="Império das Tintas Logo"
              />
            </a>
            <div
              class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
            >
              <button
                type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
              >
                <a href="#">Solicitar Orçamento</a>
              </button>
              <button
                data-collapse-toggle="navbar-cta"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-cta"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 17 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
              </button>
            </div>
            <div
              class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
              id="navbar-cta"
            >
              <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white"
              >
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Sobre Nós
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Produtos
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Por que Nós
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Depoimentos
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    FAQ
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Contato
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <section class="bg-white">
        <div
          class="xl:max-w-screen-2xl lg:mx-28 xl:px-2 lg:px-2 px-10 py-10 space-y-4 mx-auto lg:py-16 flex flex-col lg:flex-row lg:items-center xl:gap-10"
        >
          <div class="mr-auto">
            <h1
              class="max-w-2xl mb-4 text-4xl font-bold tracking-tight leading-none md:text-5xl xl:text-5xl text-[#262626]"
            >
              Transforme Seus Espaços <br /> com as <span
                class="text-yellow-400"
              >
                Melhores Tintas
              </span> e Acabamentos de Valinhos
            </h1>
            <p
              class="max-w-2xl mb-6 font-light text-[#262626] lg:mb-8 md:text-lg lg:text-xl"
            >
              Entregamos em até um <span class="text-blue-500"> dia útil </span>
              caso você seja da <span class="text-blue-500">
                região de valinhos</span
              >. Atendimento e produtos de excelência para o seu espaço.
            </p>
            <a
              href="#"
              class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-blue-600 focus:ring-4 focus:ring-primary-300 hover:scale-110 duration-100"
            >
              Peça seu orçamento agora
            </a>
          </div>
          <div class="flex-1 lg:flex lg:w-auto">
            <img
              src="/imagens/Imagem.png"
              alt="Mockup"
              class="sm:w-48 sm:h-auto md:w-64 lg:w-auto lg:h-auto"
            />
          </div>
        </div>
      </section>

      <section
        class="bg-[#FFE78B] mx-10 py-8 px-4 lg:px-10 lg:mx-28 rounded-3xl flex flex-col gap-5"
      >
        <h2 class="font-bold text-xl lg:text-3xl text-center">
          <span class="text-blue-600">Simplificamos </span> a escolha de tintas e
          acabamentos para <br class="hidden lg:block" /> profissionais que buscam
          <span class="text-blue-600">excelência</span>.
        </h2>
        <div
          class="flex flex-col lg:flex-row gap-5 lg:gap-x-24 mt-6 justify-center items-center"
        >
          <div
            class="bg-[#F5C201] text-white space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl"
          >
            <img
              class="w-8 h-8 flex mx-auto"
              src="/imagens/caminhao.png"
              alt=""
            />
            <h3 class="font-bold text-lg">Entrega em Até um Dia Útil</h3>
            <p class="text-white w-full lg:w-72">
              Garantimos que suas tintas e acabamentos cheguem até você
              rapidamente, para que seus projetos nunca fiquem parados.
            </p>
          </div>
          <div
            class="bg-[#F5C201] text-white space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl"
          >
            <img
              class="w-8 h-8 flex mx-auto"
              src="/imagens/telefone.png"
              alt=""
            />
            <h3 class="font-bold text-lg">Atendimento Personalizado</h3>
            <p class="text-white w-full lg:w-72">
              Estamos prontos para oferecer um atendimento diferenciado,
              ajudando você a encontrar as melhores soluções para suas
              necessidades.
            </p>
          </div>
          <div
            class="bg-[#F5C201] text-white space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl"
          >
            <img
              class="w-8 h-8 flex mx-auto"
              src="/imagens/caixa.png"
              alt=""
            />
            <h3 class="font-bold text-lg">Produtos de Alta Qualidade</h3>
            <p class="text-white w-full lg:w-72">
              Trabalhamos com as melhores marcas do mercado, como a Sherwin
              Williams, garantindo produtos de alta performance e durabilidade.
            </p>
          </div>
        </div>
      </section>

      <div class="flex flex-col my-8 justify-center items-center">
        <button
          class="text-white font-semibold flex-1 rounded-md px-5 py-4 bg-blue-700 h-12 w-52 hover:scale-110 duration-100"
        >
          <a href="#">Entre em Contato</a>
        </button>
      </div>

      <section class="bg-white">
        <div
          class="gap-16 items-center lg:px-20 mx-8 py-8 px-4 max-w-screen-2xl sm:grid-flow-col-dense lg:gap-20 lg:grid lg:grid-cols-2 lg:py-16"
        >
          <div class="grid grid-cols-2 gap-4 mt-8">
            <img
              class="w-full rounded-lg"
              src="public/imagens/1fotoloja.png"
              alt="office content 1"
            />
            <img
              class="mt-4 w-full lg:mt-10 rounded-lg"
              src="public/imagens/2fotoloja.png"
              alt="office content 2"
            />
            <img
              class="w-full h-full rounded-lg"
              src="public/imagens/3fotoloja.png"
              alt="office content 1"
            />
            <img
              class="mt-4 w-full h-auto lg:mt-10 rounded-lg"
              src="public/imagens/4fotoloja.png"
              alt="office content 2"
            />
          </div>

          <div class="text-[#262626] mt-10 flex flex-col space-y-5 sm:text-lg">
            <h3 class="text-3xl tracking-tight font-semibold text-blue-600">
              Sobre Nós
            </h3>
            <h1
              class="mb-5 sm:text-lg lg:text-5xl font-semibold text-yellow-400"
            >
              Prezamos por <br /> Qualidade
            </h1>
            <p class="mb-6 text-base lg:text-xl">
              Fundada há apenas 3 anos, a Império das Tintas rapidamente se
              consolidou como uma referência em qualidade e agilidade no setor.
              Com a abertura de 4 lojas sendo duas em Vinhedo, uma em Valinhos e
              uma em Hortolândia, nossa trajetória de crescimento é um reflexo
              do comprometimento com nossos clientes e da confiança que
              conquistamos no mercado.
            </p>
            <p class="mb-6 text-base lg:text-xl">
              Guiados por valores de justiça, honestidade e excelência,
              garantimos que cada projeto receba a atenção e os produtos de alta
              qualidade que você merece. Estamos empenhados em continuar
              inovando e expandindo para atender ainda melhor às necessidades de
              nossos clientes.
            </p>
            <button
              class="text-white font-semibold flex-1 rounded-md px-5 py-4 bg-blue-700 h-12 w-52 hover:scale-110 duration-100"
            >
              <a href="#">Entre em Contato</a>
            </button>
          </div>
        </div>
      </section>

      <section class="flex flex-col items-center">
        <h2 class="text-4xl text-blue-600 my-8 font-bold">
          Produtos mais Vendidos
        </h2>
        <div
          class="mx-auto grid xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-1 gap-x-56 gap-y-20"
        >
          <div
            class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600"
          >
            <img
              class="w-full h-fit"
              src="/imagens/produto1.png"
              alt="NovaCor Paredes Pro"
            />
            <p class="text-white font-semibold w-64">NovaCor Paredes PRO</p>
          </div>
          <div
            class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600"
          >
            <img
              class="w-full h-fit"
              src="/imagens/produto2.png"
              alt="NovaCor Cobre Mais"
            />
            <p class="text-white font-semibold w-64">NovaCor Cobre Mais</p>
          </div>
          <div
            class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600"
          >
            <img
              class="w-full h-fit"
              src="/imagens/produto3.png"
              alt="NovaCor Piso Premium"
            />
            <p class="text-white font-semibold w-64">NovaCor Piso Premium</p>
          </div>
          <div
            class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600"
          >
            <img
              class="w-full h-fit"
              src="/imagens/produto4.png"
              alt="Metalatex Super Lavável"
            />
            <p class="text-white font-semibold w-64">Metalatex Super Lavável</p>
          </div>
        </div>
        <button
          class="text-white font-semibold flex-1 rounded-md px-5 py-3 my-16 bg-blue-700 h-12 w-80 hover:scale-110 duration-100"
          onclick="window.location.href='#produtos'"
          >Quero conhecer mais os produtos</button
        >
      </section>
      <section class="container mx-auto p-8">
        <!-- Seção com Cards Alinhados -->
        <div class="relative card-container flex flex-col md:flex-row">
          <!-- Card com conteúdo sobre Sherwin Williams (esquerda em telas grandes) -->
          <div class="p-6 rounded-lg mb-4 md:mb-0 md:w-1/2 card-left">
            <h2 class="text-2xl font-bold text-blue-600">
              Revendedores oficiais da Sherwin Williams
            </h2>
            <div class="bg-blue-700 flex justify-center p-4 rounded-md mt-4">
              <img
                src="/imagens/SherwinWilliams.png"
                alt="Produtos Sherwin Williams"
                class="w-[480px] h-auto"
              />
            </div>
          </div>
          <!-- Card com depoimento (direita em telas grandes) -->
          <div class="p-6 rounded-lg md:w-1/2 card-right">
            <h2 class="text-2xl font-bold text-blue-600">
              O que dizem sobre nós
            </h2>
            <div class="bg-blue-700 p-10 rounded-md text-white mt-4">
              <div class="flex items-center mb-2">
                <img
                  src="/path/to/avatar.jpg"
                  alt="Luis E. Watanabe"
                  class="w-10 h-10 rounded-full mr-2"
                />
                <span class="font-bold">Luis E. Watanabe</span>
              </div>
              <p>
                Fomos atendidos muito bem pelo pessoal, perguntamos e tivemos
                ótimas respostas nos produtos, etc....vale a pena conhecer e
                fazer cotações.....
              </p>
              <div class="flex justify-end gap-2 mt-4">
                <button
                  class="bg-blue-600 hover:bg-blue-400 duration-100 text-white py-2 px-2 rounded-full"
                >
                  <img src="/imagens/Arrow 10.png" alt="setinha" />
                </button>
                <button
                  class="bg-blue-600 hover:bg-blue-400 duration-100 text-white py-2 px-2 rounded-full"
                >
                  <img src="/imagens/Arrow 11.png" alt="setinha" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="bg-white text-[#262626]">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
          <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
              <a href="https://flowbite.com/" class="flex items-center">
                <img
                  src="/imagens/logo.png"
                  class="h-12 w-auto"
                  alt="FlowBite Logo"
                />
              </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
                  Resources
                </h2>
                <ul class="font-medium">
                  <li class="mb-4">
                    <a href="https://flowbite.com/" class="hover:underline"
                      >Flowbite</a
                    >
                  </li>
                  <li>
                    <a href="https://tailwindcss.com/" class="hover:underline"
                      >Tailwind CSS</a
                    >
                  </li>
                </ul>
              </div>
              <div>
                <h2 class="mb-6 text-sm font-semibold uppercase">Follow us</h2>
                <ul class="font-medium">
                  <li class="mb-4">
                    <a
                      href="https://github.com/themesberg/flowbite"
                      class="hover:underline">Github</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://discord.gg/4eeurUVvTy"
                      class="hover:underline">Discord</a
                    >
                  </li>
                </ul>
              </div>
              <div>
                <h2 class="mb-6 text-sm font-semibold uppercase">Legal</h2>
                <ul class="font-medium">
                  <li class="mb-4">
                    <a href="#" class="hover:underline">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#" class="hover:underline"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr
            class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
          />
          <div class="sm:flex sm:items-center sm:justify-between">
            <span
              class="text-sm text-blue-500 sm:text-center flex justify-center "
              > Império das Tintas - © 2024 Todos Direitos Reservados. Desenvolvido por <a href="https://constemarketing.com.br/" class="hover:underline hover:text-orange-500 duration-75"> Conste Marketing. </a>
            </span>
            <div
              class="flex mt-4 sm:justify-center justify-between sm:mt-0 items-center gap-4"
            >
              <a
                href="#"
                class="text-gray-500 hover:text-gray-900 "
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_48_1272)">
                    <path
                      d="M9.78669 19V12.4308H7.99976V10.0656H9.78669V8.04535C9.78669 6.45785 10.8422 5 13.2745 5C14.2592 5 14.9874 5.09177 14.9874 5.09177L14.93 7.30049C14.93 7.30049 14.1874 7.29347 13.377 7.29347C12.4999 7.29347 12.3594 7.68638 12.3594 8.33851V10.0656H14.9998L14.8849 12.4308H12.3594V19H9.78669Z"
                      fill="#035AC1"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_48_1272">
                      <rect
                        width="7"
                        height="14"
                        fill="white"
                        transform="translate(7.99976 5)"></rect>
                    </clipPath>
                  </defs>
                </svg>

                <span class="sr-only">Facebook</span>
              </a>
              <a
                href="#"
                class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_48_1276)">
                    <path
                      d="M12.0036 7.95683C9.73213 7.95683 7.89999 9.76035 7.89999 11.9963C7.89999 14.2322 9.73213 16.0357 12.0036 16.0357C14.275 16.0357 16.1071 14.2322 16.1071 11.9963C16.1071 9.76035 14.275 7.95683 12.0036 7.95683ZM12.0036 14.6225C10.5357 14.6225 9.3357 13.4447 9.3357 11.9963C9.3357 10.5478 10.5321 9.37011 12.0036 9.37011C13.475 9.37011 14.6714 10.5478 14.6714 11.9963C14.6714 13.4447 13.4714 14.6225 12.0036 14.6225ZM17.2321 7.7916C17.2321 8.31543 16.8036 8.73379 16.275 8.73379C15.7428 8.73379 15.3178 8.31191 15.3178 7.7916C15.3178 7.27129 15.7464 6.84941 16.275 6.84941C16.8036 6.84941 17.2321 7.27129 17.2321 7.7916ZM19.95 8.74785C19.8893 7.48574 19.5964 6.36777 18.6571 5.44668C17.7214 4.52559 16.5857 4.2373 15.3036 4.17402C13.9821 4.1002 10.0214 4.1002 8.69999 4.17402C7.42142 4.23379 6.28571 4.52207 5.34642 5.44316C4.40714 6.36426 4.11785 7.48222 4.05356 8.74433C3.97856 10.0451 3.97856 13.9439 4.05356 15.2447C4.11428 16.5068 4.40714 17.6248 5.34642 18.5459C6.28571 19.467 7.41785 19.7553 8.69999 19.8185C10.0214 19.8924 13.9821 19.8924 15.3036 19.8185C16.5857 19.7588 17.7214 19.4705 18.6571 18.5459C19.5928 17.6248 19.8857 16.5068 19.95 15.2447C20.025 13.9439 20.025 10.0486 19.95 8.74785ZM18.2428 16.6404C17.9643 17.3295 17.425 17.8603 16.7214 18.1381C15.6678 18.5494 13.1678 18.4545 12.0036 18.4545C10.8393 18.4545 8.3357 18.5459 7.2857 18.1381C6.58571 17.8639 6.04642 17.333 5.76428 16.6404C5.34642 15.6033 5.44285 13.1424 5.44285 11.9963C5.44285 10.8502 5.34999 8.38574 5.76428 7.35215C6.04285 6.66308 6.58213 6.13223 7.2857 5.85449C8.33928 5.44316 10.8393 5.53809 12.0036 5.53809C13.1678 5.53809 15.6714 5.44668 16.7214 5.85449C17.4214 6.12871 17.9607 6.65957 18.2428 7.35215C18.6607 8.38926 18.5643 10.8502 18.5643 11.9963C18.5643 13.1424 18.6607 15.6068 18.2428 16.6404Z"
                      fill="#035AC1"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_48_1276">
                      <rect
                        width="16"
                        height="18"
                        fill="white"
                        transform="translate(4 3)"></rect>
                    </clipPath>
                  </defs>
                </svg>

                <span class="sr-only">Instagram</span>
              </a>
              <a
                href="#"
                class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_48_1280)">
                    <path
                      d="M7.63269 19V8.87953H4.20239V19H7.63269ZM5.91798 7.49692C7.11419 7.49692 7.85877 6.71978 7.85877 5.74862C7.83648 4.75556 7.11423 4 5.94068 4C4.76731 4 4 4.75558 4 5.74862C4 6.71983 4.7444 7.49692 5.89559 7.49692H5.91787H5.91798ZM9.53135 19H12.9617V13.3482C12.9617 13.0458 12.9839 12.7436 13.0745 12.5274C13.3225 11.923 13.8869 11.2971 14.8345 11.2971C16.0758 11.2971 16.5724 12.2252 16.5724 13.5857V18.9999H20.0025V13.1969C20.0025 10.0883 18.3101 8.64193 16.0532 8.64193C14.2027 8.64193 13.3902 9.65626 12.9388 10.3471H12.9617V8.87932H9.53143C9.57644 9.82897 9.53143 18.9998 9.53143 18.9998L9.53135 19Z"
                      fill="#035AC1"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_48_1280">
                      <rect
                        width="16"
                        height="15"
                        fill="white"
                        transform="translate(4 4)"></rect>
                    </clipPath>
                  </defs>
                </svg>

                <span class="sr-only">Linkedin</span>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <!-- 
	<main>
      <section class="depoimentos" id="depoimentos">
        <h2>O que dizem sobre nós</h2>
        <div class="depoimento">
          <p>Fomos atendidos muito bem pelo pessoal...</p>
          <p>- Luis E. Watanabe</p>
        </div>
      </section>

      <section class="faq" id="faq">
        <h2>Perguntas e Respostas</h2>
        <div class="faq-item">
          <h3>Quais tipos de tintas e acabamentos vocês oferecem?</h3>
          <p>Oferecemos uma ampla variedade de tintas e acabamentos...</p>
        </div>
        <div class="faq-item">
          <h3>
            Vocês oferecem consultoria para escolha de tintas e acabamentos?
          </h3>
          <p>Sim, nossos especialistas estão prontos para ajudar...</p>
        </div>
        <div class="faq-item">
          <h3>As lojas estão abertas nos finais de semana?</h3>
          <p>Sim, estamos abertos aos sábados e domingos...</p>
        </div>
        <div class="faq-item">
          <h3>Vocês oferecem serviços de aplicação de tintas?</h3>
          <p>Sim, temos profissionais qualificados para a aplicação...</p>
        </div>
      </section>

      <section class="cta-final" id="orcamento">
        <h2>Não Deixe a Tinta Secar e Venha Conhecer Uma de Nossas Lojas</h2>
        <p>Na Império das Tintas, temos tudo o que você precisa...</p>
        <button onclick="window.location.href='#orcamento'"
          >Peça seu orçamento gratuito agora!</button
        >
      </section>
    </main> -->

    <!-- <footer>
      <div class="footer-content">
        <p>
          &copy; 2024 Império das Tintas - Todos Direitos Reservados.
          Desenvolvido por Conste Marketing
        </p>
        <div class="footer-links">
          <a href="#sobre-nos">Sobre Nós</a>
          <a href="#produtos">Produtos</a>
          <a href="#contato">Contato</a>
        </div>
        <div class="footer-social">
          <a href="#"><img src="images/facebook-icon.png" alt="Facebook" /></a>
          <a href="#"><img src="images/linkedin-icon.png" alt="LinkedIn" /></a>
        </div>
      </div>
      <div class="footer-location">
        <h3>Localização</h3>
        <p>Endereço da loja...</p>
      </div>
    </footer> -->
  </body>
</html>
