---
import Accordion from "../components/accordion.astro";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      id="preload-css"
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      as="style"
    />

    <!-- Script para alterar o rel para stylesheet após o carregamento -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const linkElement = document.getElementById("preload-css");
        if (linkElement instanceof HTMLLinkElement) {
          linkElement.rel = "stylesheet";
        }
      });
    </script>
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <title>Império das Tintas</title>
    <style>
      @media (min-width: 768px) {
        main {
          margin: 0 100px;
        }
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <!-- Google Tag Manager -->
    <script is:inline async>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5PHHS7KR");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        loading="lazy"
        src="https://www.googletagmanager.com/ns.html?id=GTM-5PHHS7KR"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <main class="flex flex-col items-center justify-center min-h-screen px-4">
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          document
            .querySelector('[data-collapse-toggle="navbar-cta"]')
            .addEventListener("click", () => {
              document
                .getElementById("navbar-cta-mobile")
                .classList.toggle("hidden");
            });
        });
      </script>
      
      <header>
        <nav class="bg-white border-gray-200 font-bold">
          <div
            class="flex flex-col items-center justify-center lg:flex-row lg:justify-between lg:space-x-36 py-2"
          >
            <a
              href="https://www.tintasimperio.com.br/"
              class="flex items-center space-x-3 rtl:space-x-reverse"
            >
              <img
                loading="lazy"
                src="/imagens/logo.avif"
                class="h-12 w-[85px]"
                alt="Império das Tintas Logo"
              />
            </a>
            <div
              class="flex items-center space-x-4 rtl:space-x-reverse lg:space-x-10 md:order-2 lg:order-2"
            >
              <a
                target="_blank"
                href="https://api.whatsapp.com/send?phone=5519995820350&text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos!!"
              >
                <button
                  type="button"
                  class="text-white bg-blue-700 hover:scale-105 hover:bg-blue-800 duration-75 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-sm px-4 py-2 text-center lg:visible lg:inline-flex hidden"
                >
                  Solicitar Orçamento
                </button>
              </a>
              <button
                data-collapse-toggle="navbar-cta"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-blue-600 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 order-2 mt-4 lg:mt-0"
                aria-controls="navbar-cta"
                aria-expanded="false"
              >
                <span class="sr-only">Abrir menu</span>
                <svg
                  class="w-14 h-14"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 17 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
              </button>
            </div>
            <div
              class="items-center justify-center hidden w-auto lg:flex lg:w-auto"
              id="navbar-cta"
            >
              <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:space-x-20 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-white"
              >
                <li>
                  <a
                    aria-current="page"
                    href="#sobre"
                    class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
                    >Sobre Nós</a
                  >
                </li>
                <li>
                  <a
                    aria-current="page"
                    href="#porque"
                    class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
                    >Por que Nós</a
                  >
                </li>
                <li>
                  <a
                    aria-current="page"
                    href="#depoimentos"
                    class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
                    >Depoimentos</a
                  >
                </li>
                <li>
                  <a
                    aria-current="page"
                    href="#faq"
                    class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
                    >FAQ</a
                  >
                </li>
                <li>
                  <a
                    aria-current="page"
                    href="#contato"
                    class="block py-2 px-3 lg:p-0 text-[#262626] rounded lg:bg-transparent hover:text-blue-700"
                    >Contato</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="hidden lg:hidden" id="navbar-cta-mobile">
            <ul
              class="flex text-xl flex-col justify-center font-medium p-4 mt-4 border border-blue-100 items-center rounded-lg rtl:space-x-reverse"
            >
              <li>
                <a
                  aria-current="page"
                  href="#sobre"
                  class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
                  >Sobre Nós</a
                >
              </li>
              <li>
                <a
                  aria-current="page"
                  href="#porque"
                  class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
                  >Por que Nós</a
                >
              </li>
              <li>
                <a
                  aria-current="page"
                  href="#depoimentos"
                  class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
                  >Depoimentos</a
                >
              </li>
              <li>
                <a
                  aria-current="page"
                  href="#faq"
                  class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
                  >FAQ</a
                >
              </li>
              <li>
                <a
                  aria-current="page"
                  href="#contato"
                  class="block py-2 px-3 text-[#262626] rounded hover:text-blue-700"
                  >Contato</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <section class="bg-white">
        <div
          class="xl:max-w-screen-2xl lg:max-w-screen-xl xl:py-8 py-10 space-y-4 mx-auto lg:py-16 flex flex-col lg:flex-row lg:items-center xl:gap-4"
        >
          <div>
            <h1
              class="xl:max-w-2xl mb-4 text-3xl xl:text-5xl lg:text-5xl font-bold tracking-tight leading-none text-[#262626]"
            >
              Transforme Seus Espaços <br /> com as <span
                class="text-yellow-400"
              >
                Melhores Tintas
              </span> e Acabamentos de Valinhos
            </h1>
            <p
              class="max-w-2xl mb-6 font-light text-[#262626] lg:mb-8 md:text-base lg:text-xl"
            >
              Entregamos em até um <span class="text-blue-500 font-bold">
                dia útil
              </span>
              caso você seja da <span class="text-blue-500 font-bold">
                região de valinhos</span
              >. Atendimento e produtos de excelência para o seu espaço.
            </p>
            <a
              target="_blank"
              href="https://api.whatsapp.com/send?phone=5519995820350&text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos!!"
            >
              <button
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:scale-105 hover:bg-blue-800 duration-75"
              >
                Peça seu orçamento agora
              </button>
            </a>
          </div>
          <div class="flex-1 lg:flex lg:w-full">
            <img
              loading="lazy"
              src="/imagens/Hero.avif"
              alt="Mockup"
              class="sm:w-48 sm:h-auto md:w-64 lg:w-auto lg:h-auto hover:scale-110 duration-150"
            />
          </div>
        </div>
      </section>

      <section
        class="bg-[#FFE78B] max-w-screen-2xl flex flex-col py-12 px-4 lg:px-11 mt-44 rounded-3xl gap-5"
      >
        <h2 class="font-bold text-xl lg:text-3xl text-center">
          <span class="text-blue-600">Simplificamos </span> a escolha de tintas e
          acabamentos para <br class="hidden lg:block" /> profissionais que buscam
          <span class="text-blue-600">excelência</span>.
        </h2>
        <div
          class="flex flex-col lg:flex-row gap-5 xl:gap-x-20 mt-6 justify-center items-center"
        >
          <div
            class="bg-[#F5C201] text-black space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl hover:scale-110 duration-100"
          >
            <img
              loading="lazy"
              class="w-8 h-8 flex mx-auto"
              src="/imagens/caminhao.svg"
              alt=""
            />
            <h3 class="font-bold text-lg">Entrega em Até um Dia Útil</h3>
            <p class="text-black w-full lg:w-72">
              Garantimos que suas tintas e acabamentos cheguem até você
              rapidamente, para que seus projetos nunca fiquem parados.
            </p>
          </div>
          <div
            class="bg-[#F5C201] text-black space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl hover:scale-110 duration-100"
          >
            <img
              loading="lazy"
              class="w-8 h-8 flex mx-auto"
              src="/imagens/telefone.svg"
              alt=""
            />
            <h3 class="font-bold text-lg">Atendimento Personalizado</h3>
            <p class="text-black w-full lg:w-72">
              Estamos prontos para oferecer um atendimento diferenciado,
              ajudando você a encontrar as melhores soluções para suas
              necessidades.
            </p>
          </div>
          <div
            class="bg-[#F5C201] text-black space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl hover:scale-110 duration-100"
          >
            <img
              loading="lazy"
              class="w-8 h-8 flex mx-auto"
              src="/imagens/caixa.svg"
              alt="Icone caixa"
            />
            <h3 class="font-bold text-lg">Produtos de Alta Qualidade</h3>
            <p class="text-black w-full lg:w-72">
              Trabalhamos com as melhores marcas do mercado, como a Sherwin
              Williams, garantindo produtos de alta performance e durabilidade.
            </p>
          </div>
        </div>
      </section>

      <div class="flex flex-col my-8 justify-center items-center">
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=5519995820350&text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos!!"
        >
          <button
            class="text-white font-semibold flex justify-center items-center rounded-md px-5 py-4 h-12 w-52 bg-blue-700 hover:scale-105 hover:bg-blue-800 duration-75"
          >
            Entre em Contato
          </button>
        </a>
      </div>

      <section id="sobre" class="bg-white">
        <div
          class="items-center xl:px-6 lg:px-0 lg:-m-6 py-8 xl:max-w-screen-2xl grid-flow-col-dense lg:gap-x-10 lg:grid lg:grid-cols-2"
        >
          <div class="grid grid-cols-2 gap-4 mt-8">
            <img
              class="w-full rounded-lg hover:scale-110 duration-150"
              src="/imagens/1fotoloja.avif"
              alt="office content 1"
            />
            <img
              class="mt-4 w-full lg:mt-10 rounded-lg hover:scale-110 duration-150"
              src="/imagens/2fotoloja.avif"
              alt="office content 2"
            />
            <img
              class="w-full h-full rounded-lg hover:scale-110 duration-150"
              src="/imagens/3fotoloja.avif"
              alt="office content 1"
            />
            <img
              class="mt-4 w-full h-auto lg:mt-10 rounded-lg hover:scale-110 duration-150"
              src="/imagens/4fotoloja.avif"
              alt="office content 2"
            />
          </div>

          <div
            class="text-[#262626] lg:w-[540px] mt-10 flex flex-col space-y-5 text-lg"
          >
            <h3 class="text-3xl tracking-tight font-semibold text-blue-600">
              Sobre Nós
            </h3>
            <h1 class="mb-5 text-3xl lg:text-5xl font-semibold text-yellow-400">
              Prezamos por <br /> Qualidade
            </h1>
            <p class="mb-6 text-base lg:text-lg">
              Fundada há apenas 3 anos, a Império das Tintas rapidamente se
              consolidou como uma referência em qualidade e agilidade no setor.
              Com a abertura de 4 lojas sendo duas em Vinhedo, uma em Valinhos e
              uma em Hortolândia, nossa trajetória de crescimento é um reflexo
              do comprometimento com nossos clientes e da confiança que
              conquistamos no mercado.
            </p>
            <p class="mb-6 text-base lg:text-lg">
              Guiados por valores de justiça, honestidade e excelência,
              garantimos que cada projeto receba a atenção e os produtos de alta
              qualidade que você merece. Estamos empenhados em continuar
              inovando e expandindo para atender ainda melhor às necessidades de
              nossos clientes.
            </p>
            <a
              target="_blank"
              href="https://api.whatsapp.com/send?phone=5519995820350&text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos!!"
            >
              <button
                class="text-white font-semibold flex justify-center items-center rounded-md px-5 py-4 h-12 w-52 bg-blue-700 hover:scale-105 hover:bg-blue-800 duration-75"
              >
                Entre em Contato
              </button>
            </a>
          </div>
        </div>
      </section>

      <section
        class="flex flex-col justify-center items-center mx-auto my-20 gap-y-16"
      >
        <div class="space-y-10" id="porque">
          <h2 class="text-2xl 2xl:text-3xl xl:text-3xl font-bold text-blue-600">
            Revendedores oficiais da Sherwin Williams
          </h2>
          <div
            class="bg-blue-700 flex justify-center items-center rounded-lg px-6 py-10"
          >
            <img
              src="/imagens/SherwinWilliams.avif"
              alt="Produtos Sherwin Williams"
              class="w-[480px] h-auto hover:scale-110 duration-150"
            />
          </div>
        </div>

        <div
          class="2xl:w-[1480px] xl:[1200px] lg:[1200px] sm:min-w-80 flex flex-col mt-40 space-y-10"
          id="depoimentos"
        >
          <h2 class="text-2xl 2xl:text-3xl xl:text-3xl font-bold text-blue-600">
            O que dizem sobre nós
          </h2>
          <div
            class="flex flex-col gap-4 xl:flex-row lg:flex-row xl:flex-wrap xl:space-x-4"
          >
            <div
              class="bg-blue-700 flex-1 max-w-xs p-6 rounded-md text-white hover:scale-105 duration-100"
            >
              <div class="flex items-center mb-2">
                <span class="font-bold">Luis E. Watanabe</span>
              </div>
              <p>
                Fomos atendidos muito bem pelo pessoal, perguntamos e tivemos
                ótimas respostas nos produtos, etc..vale a pena conhecer e fazer
                cotações...
              </p>
            </div>
            <div
              class="bg-blue-700 flex-1 max-w-xs p-6 rounded-md text-white hover:scale-105 duration-100"
            >
              <div class="flex items-center mb-2">
                <span class="font-bold">Antonia Torssani Fini</span>
              </div>
              <p>
                Atendimento ótimo. O Fernando já está no ramo há mais de 20
                anos. Conhece e entende muito sobre tudo...
              </p>
            </div>
            <div
              class="bg-blue-700 flex-1 max-w-xs p-6 rounded-md text-white hover:scale-105 duration-100"
            >
              <div class="flex items-center mb-2">
                <span class="font-bold">Maria Tempesta</span>
              </div>
              <p>
                Show, ótimos preços, atendimento maravilhoso e perfeito, vale a
                pena conhecer irão gostar muito. Parabéns pra toda equipe da
                Império das tintas...
              </p>
            </div>
            <div
              class="bg-blue-700 flex-1 max-w-xs p-6 rounded-md text-white hover:scale-105 duration-100"
            >
              <div class="flex items-center mb-2">
                <span class="font-bold">Daniel Bressanin</span>
              </div>
              <p>
                Tinha tudo que eu precisava. Mas o maior destaque é o
                atendimento. Nota 1000....
              </p>
            </div>
          </div>
        </div>
      </section>

      <section
        id="faq"
        class="flex mt-16 flex-col gap-y-10 items-center justify-center"
      >
        <h2 class="text-4xl font-semibold text-blue-700 p-4">
          Perguntas e Respostas
        </h2>
        <Accordion />
      </section>

      <section
        id="contato"
        class="relative 2xl:w-[1480px] xl:w-[1200px] mx-4 h-[600px] xl:p-0 my-20 mt-44 mb-44 flex flex-col gap-y-10 rounded-xl justify-center items-center bg-[#FFE78B] overflow-visible"
      >
        <img
          src="imagens/balde.avif"
          alt="Balde de Tinta"
          class="absolute -top-20 left-1/2 transform -translate-x-1/2 w-32 md:w-40 lg:w-48 z-10"
        />
        <h2
          class="xl:text-3xl md:text-2xl text-xl p-2 text-[#035AC1] text-center font-semibold mt-20"
        >
          Não Deixe a Tinta Secar e Venha Conhecer Uma de Nossas Lojas
        </h2>
        <p
          class="text-lg xl:text-xl xl:max-w-[600px] max-w-80 text-center text-[#00387B] mt-4"
        >
          Na Império das Tintas, temos tudo o que você precisa para transformar
          seus ambientes com muita cor e estilo. <br />Com a gente, seu projeto
          ganha vida rapidinho!
        </p>
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=5519995820350&text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos!!"
        >
          <button
            class="text-white font-semibold flex items-center justify-center rounded-md px-5 py-4 bg-blue-700 hover:scale-105 hover:bg-blue-800 duration-75 h-12 lg:min-w-80 w-auto"
          >
            Peça sua cotação agora!
          </button>
        </a>
      </section>

      <div class="fixed xl:bottom-6 xl:right-14 2xl:right-4 bottom-4 right-4">
        <a
          aria-label="Tire suas dúvidas ou compre pelo whatsapp"
          target="_blank"
          href="https://api.whatsapp.com/send?phone=5519995820350&text=Ol%C3%A1,%20vim%20atrav%C3%A9s%20do%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20produtos!!"
        >
          <button
            class="bg-[#25D366] hover:bg-[#20c157] text-white font-bold py-2 px-3 rounded-full shadow-lg"
            aria-label="Whatsapp Flutuante"
          >
            <i class="fab fa-whatsapp text-3xl"></i>
          </button>
        </a>
      </div>

      <footer
        class="bg-white text-[#262626] flex justify-center items-center 2xl:w-[1480px] xl:w-[1200px] mx-auto"
      >
        <div
          class="gap-y-10 md:text-center text-center items-start grid grid-cols-1 md:grid-cols-3 xl:justify-center xl:space-x-44 md:space-x-10 mb-5 w-full"
        >
          <div
            class="flex flex-col gap-5 text-center xl:items-start items-center"
          >
            <a href="https://www.tintasimperio.com.br/">
              <img
                class="w-20 h-12 hover:scale-110 duration-75"
                src="/imagens/logo.avif"
                alt="Logo Império das Tintas"
              />
            </a>
            <p
              class="text-[#035AC1] max-w-md text-start row-span-2 lg:mx-0 mx-4"
            >
              Guiados por valores de justiça, honestidade e excelência,
              garantimos que cada projeto receba a atenção e os produtos de alta
              qualidade que você merece.
            </p>
            <div class="flex mt-4 justify-start sm:mt-0 items-end gap-4">
              <a
                class="hover:scale-150 duration-75"
                target="_blank"
                href="https://www.facebook.com/profile.php?id=61563645035180&mibextid=ZbWKwL"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_48_1272)">
                    <path
                      d="M9.78669 19V12.4308H7.99976V10.0656H9.78669V8.04535C9.78669 6.45785 10.8422 5 13.2745 5C14.2592 5 14.9874 5.09177 14.9874 5.09177L14.93 7.30049C14.93 7.30049 14.1874 7.29347 13.377 7.29347C12.4999 7.29347 12.3594 7.68638 12.3594 8.33851V10.0656H14.9998L14.8849 12.4308H12.3594V19H9.78669Z"
                      fill="#035AC1"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_48_1272">
                      <rect
                        width="7"
                        height="14"
                        fill="white"
                        transform="translate(7.99976 5)"></rect>
                    </clipPath>
                  </defs>
                </svg>

                <span class="sr-only">Facebook</span>
              </a>
              <a
                class="hover:scale-150 duration-75"
                target="_blank"
                href="https://www.instagram.com/imperio_das_tintas_oficial/"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_48_1276)">
                    <path
                      d="M12.0036 7.95683C9.73213 7.95683 7.89999 9.76035 7.89999 11.9963C7.89999 14.2322 9.73213 16.0357 12.0036 16.0357C14.275 16.0357 16.1071 14.2322 16.1071 11.9963C16.1071 9.76035 14.275 7.95683 12.0036 7.95683ZM12.0036 14.6225C10.5357 14.6225 9.3357 13.4447 9.3357 11.9963C9.3357 10.5478 10.5321 9.37011 12.0036 9.37011C13.475 9.37011 14.6714 10.5478 14.6714 11.9963C14.6714 13.4447 13.4714 14.6225 12.0036 14.6225ZM17.2321 7.7916C17.2321 8.31543 16.8036 8.73379 16.275 8.73379C15.7428 8.73379 15.3178 8.31191 15.3178 7.7916C15.3178 7.27129 15.7464 6.84941 16.275 6.84941C16.8036 6.84941 17.2321 7.27129 17.2321 7.7916ZM19.95 8.74785C19.8893 7.48574 19.5964 6.36777 18.6571 5.44668C17.7214 4.52559 16.5857 4.2373 15.3036 4.17402C13.9821 4.1002 10.0214 4.1002 8.69999 4.17402C7.42142 4.23379 6.28571 4.52207 5.34642 5.44316C4.40714 6.36426 4.11785 7.48222 4.05356 8.74433C3.97856 10.0451 3.97856 13.9439 4.05356 15.2447C4.11428 16.5068 4.40714 17.6248 5.34642 18.5459C6.28571 19.467 7.41785 19.7553 8.69999 19.8185C10.0214 19.8924 13.9821 19.8924 15.3036 19.8185C16.5857 19.7588 17.7214 19.4705 18.6571 18.5459C19.5928 17.6248 19.8857 16.5068 19.95 15.2447C20.025 13.9439 20.025 10.0486 19.95 8.74785ZM18.2428 16.6404C17.9643 17.3295 17.425 17.8603 16.7214 18.1381C15.6678 18.5494 13.1678 18.4545 12.0036 18.4545C10.8393 18.4545 8.3357 18.5459 7.2857 18.1381C6.58571 17.8639 6.04642 17.333 5.76428 16.6404C5.34642 15.6033 5.44285 13.1424 5.44285 11.9963C5.44285 10.8502 5.34999 8.38574 5.76428 7.35215C6.04285 6.66308 6.58213 6.13223 7.2857 5.85449C8.33928 5.44316 10.8393 5.53809 12.0036 5.53809C13.1678 5.53809 15.6714 5.44668 16.7214 5.85449C17.4214 6.12871 17.9607 6.65957 18.2428 7.35215C18.6607 8.38926 18.5643 10.8502 18.5643 11.9963C18.5643 13.1424 18.6607 15.6068 18.2428 16.6404Z"
                      fill="#035AC1"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_48_1276">
                      <rect
                        width="16"
                        height="18"
                        fill="white"
                        transform="translate(4 3)"></rect>
                    </clipPath>
                  </defs>
                </svg>

                <span class="sr-only">Instagram</span>
              </a>
            </div>
          </div>

          <div class="flex flex-col gap-5 text-center xl:text-start">
            <h3 class="text-[#035AC1] font-bold text-xl">Seções</h3>
            <a href="#sobre"
              ><p
                class="text-[#035AC1] hover:underline hover:scale-110 duration-75"
              >
                Sobre nós
              </p>
            </a>
            <a href="#porque"
              ><p
                class="text-[#035AC1] hover:underline hover:scale-110 duration-75"
              >
                Por que Nós
              </p>
            </a>
            <a href="#depoimentos"
              ><p
                class="text-[#035AC1] hover:underline hover:scale-110 duration-75"
              >
                Depoimentos
              </p>
            </a>
            <a href="#faq"
              ><p
                class="text-[#035AC1] hover:underline hover:scale-110 duration-75"
              >
                FAQ
              </p>
            </a>
            <a href="#contato"
              ><p
                class="text-[#035AC1] hover:underline hover:scale-110 duration-75"
              >
                Contato
              </p>
            </a>
          </div>

          <div class="flex flex-col gap-5 text-center xl:text-start text-xl">
            <h3 class="text-[#035AC1] font-bold">Localização</h3>
            <a
              target="_blank"
              href="https://www.google.com.br/maps/place/Imp%C3%A9rio+das+Tintas+Valinhos/@-22.9748723,-46.9990395,19.84z/data=!4m6!3m5!1s0x94c8cd668a50ed6b:0x42e37a903726a910!8m2!3d-22.9747084!4d-46.9989216!16s%2Fg%2F11syrmtn62?entry=ttu"
            >
              <img
                class="w-full h-full lg:mx-0 mx-4 hover:scale-105 duration-75"
                src="/imagens/localizacao.avif"
                alt="Imagem Google Maps"
              />
            </a>
            <a
              target="_blank"
              href="https://www.google.com.br/maps/place/Imp%C3%A9rio+das+Tintas+Valinhos/@-22.9748723,-46.9990395,19.84z/data=!4m6!3m5!1s0x94c8cd668a50ed6b:0x42e37a903726a910!8m2!3d-22.9747084!4d-46.9989216!16s%2Fg%2F11syrmtn62?entry=ttu"
            >
              <p class="text-[#035AC1] text-sm duration-75 hover:underline">
                Endereço: n° 500 - Av. dos Esportes, n° 500 - Vila Bissoto,
                Valinhos - SP, 13270-210
              </p>
            </a>
          </div>
        </div>
      </footer>
      <div class="flex justify-center items-center mx-auto my-8">
        <p class="text-center text-[#035AC1] text-sm">
          Império das Tintas - 2024 Todos Direitos Reservados. Desenvolvido por
          <a
            href="http://constemarketing.com.br"
            target="_blank"
            class="hover:text-[#FF8500] duration-75 hover:underline"
            >Conste Marketing.</a
          >
        </p>
      </div>
    </main>
  </body>
</html>
