<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Império das Tintas</title>
  </head>
  <body>
    <main>
      <header>
        <nav class="bg-white border-gray-200 font-Poppins font-bold">
          <div
            class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4"
          >
            <a
              href="https://www.tintasimperio.com.br/"
              class="flex items-center space-x-3 rtl:space-x-reverse"
            >
              <img
                src="/public/imagens/logo.png"
                class="h-12 w-auto"
                alt="Império das Tintas Logo"
              />
            </a>
            <div
              class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
            >
              <button
                type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
              >
                <a href="#">Solicitar Orçamento</a>
              </button>
              <button
                data-collapse-toggle="navbar-cta"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-cta"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 17 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
              </button>
            </div>
            <div
              class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
              id="navbar-cta"
            >
              <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white"
              >
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Sobre Nós
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Produtos
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Por que Nós
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Depoimentos
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    FAQ
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block py-2 px-3 md:p-0 text-[#262626] rounded md:bg-transparent hover:text-blue-700"
                  >
                    Contato
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <section class="bg-white">
        <div
          class="xl:max-w-screen-2xl lg:mx-28 xl:px-2 lg:px-2 px-10 py-10 space-y-4 mx-auto lg:py-16 flex flex-col lg:flex-row lg:items-center xl:gap-10"
        >
          <div class="mr-auto">
            <h1
              class="max-w-2xl mb-4 text-4xl font-bold tracking-tight leading-none md:text-5xl xl:text-5xl text-[#262626]"
            >
              Transforme Seus Espaços <br /> com as <span
                class="text-yellow-400"
              >
                Melhores Tintas
              </span> e Acabamentos de Valinhos
            </h1>
            <p
              class="max-w-2xl mb-6 font-light text-[#262626] lg:mb-8 md:text-lg lg:text-xl"
            >
              Entregamos em até um <span class="text-blue-500"> dia útil </span>
              caso você seja da <span class="text-blue-500">
                região de valinhos</span
              >. Atendimento e produtos de excelência para o seu espaço.
            </p>
            <a
              href="#"
              class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-blue-600 focus:ring-4 focus:ring-primary-300 hover:scale-110 duration-100"
            >
              Peça seu orçamento agora
            </a>
          </div>
          <div class="flex-1  lg:flex lg:w-auto">
            <img
              src="/public/imagens/Imagem.png"
              alt="Mockup"
              class="sm:w-48 sm:h-auto md:w-64 lg:w-auto lg:h-auto"
            />
          </div>
        </div>
      </section>

      <section class="bg-[#FFE78B] mx-10 py-8 px-4 lg:px-10 lg:mx-28 rounded-3xl flex flex-col gap-5">
        <h2 class="font-bold text-xl lg:text-3xl text-center">
          <span class="text-blue-600">Simplificamos </span> a escolha de tintas e
          acabamentos para <br class="hidden lg:block" /> profissionais que buscam <span
            class="text-blue-600">excelência</span
          >.
        </h2>
        <div class="flex flex-col lg:flex-row gap-5 lg:gap-x-40 mt-6 justify-center items-center">
          <div class="bg-[#F5C201] text-white space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl">
            <img class="w-8 h-8 flex mx-auto" src="/public/imagens/caminhao.png" alt="" />
            <h3 class="font-bold text-lg">Entrega em Até um Dia Útil</h3>
            <p class="text-white w-full lg:w-72">
              Garantimos que suas tintas e acabamentos cheguem até você
              rapidamente, para que seus projetos nunca fiquem parados.
            </p>
          </div>
          <div class="bg-[#F5C201] text-white space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl">
            <img class="w-8 h-8 flex mx-auto" src="/public/imagens/telefone.png" alt="" />
            <h3 class="font-bold text-lg">Atendimento Personalizado</h3>
            <p class="text-white w-full lg:w-72">
              Estamos prontos para oferecer um atendimento diferenciado,
              ajudando você a encontrar as melhores soluções para suas
              necessidades.
            </p>
          </div>
          <div class="bg-[#F5C201] text-white space-y-3 text-left p-8 flex flex-col justify-center max-w-80 h-64 w-full lg:w-auto rounded-xl">
            <img class="w-8 h-8 flex mx-auto" src="/public/imagens/caixa.png" alt="" />
            <h3 class="font-bold text-lg">Produtos de Alta Qualidade</h3>
            <p class="text-white w-full lg:w-72">
              Trabalhamos com as melhores marcas do mercado, como a Sherwin
              Williams, garantindo produtos de alta performance e durabilidade.
            </p>
          </div>
        </div>
      </section>      

      <div class="flex flex-col my-8 justify-center items-center">
        <button
          class="text-white font-semibold flex-1 rounded-md px-5 py-4 bg-blue-700 h-12 w-52 hover:scale-110 duration-100"
        >
          <a href="#">Entre em Contato</a>
        </button>
      </div>

      <section class="bg-white">
        <div class="gap-16 items-center lg:px-20 mx-8 py-8 px-4 max-w-screen-2xl sm:grid-flow-col-dense lg:gap-20 lg:grid lg:grid-cols-2 lg:py-16">
          <div class="grid grid-cols-2 gap-4 mt-8">
            <img
              class="w-full rounded-lg"
              src="public/imagens/1fotoloja.png"
              alt="office content 1"
            />
            <img
              class="mt-4 w-full lg:mt-10 rounded-lg"
              src="public/imagens/2fotoloja.png"
              alt="office content 2"
            />
            <img
              class="w-full h-full rounded-lg"
              src="public/imagens/3fotoloja.png"
              alt="office content 1"
            />
            <img
              class="mt-4 w-full h-auto lg:mt-10 rounded-lg"
              src="public/imagens/4fotoloja.png"
              alt="office content 2"
            />
          </div>

          <div class="text-[#262626] mt-10 flex flex-col space-y-5 sm:text-lg">
            <h3
              class="text-3xl tracking-tight font-semibold text-blue-600"
            >
            Sobre Nós
            </h3>
            <h2
              class="mb-5 text-5xl tracking-tight font-semibold text-yellow-400"
            >
            Prezamos por <br> Qualidade
            </h2>
            <p class="mb-6 text-base lg:text-xl">
              Fundada há apenas 3 anos, a Império das Tintas rapidamente se consolidou como uma referência em 
              qualidade e agilidade no setor. Com a abertura de 4 lojas 
              sendo duas em Vinhedo, uma em Valinhos e uma em Hortolândia, 
              nossa trajetória de crescimento é um reflexo do comprometimento com nossos 
              clientes e da confiança que conquistamos no mercado.
            </p>
            <p class="mb-6 text-base lg:text-xl">
              Guiados por valores de justiça, honestidade e excelência, garantimos que cada projeto receba a 
              atenção e os produtos de alta qualidade que você merece. Estamos empenhados em continuar inovando 
              e expandindo para atender ainda melhor às necessidades de nossos clientes.
            </p>
          </div>
        </div>
      </section>

      <section class="flex flex-col items-center">
        <h2 class="text-4xl text-blue-600 my-8 font-bold">Produtos mais Vendidos</h2>
        <div class="mx-auto grid xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-1 gap-x-56 gap-y-20">
          <div class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600">
            <img class="w-full h-fit" src="/public/imagens/produto1.png" alt="NovaCor Paredes Pro" />
            <p class="text-white font-semibold w-64">NovaCor Paredes PRO</p>
          </div>
          <div class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600">
            <img class="w-full h-fit" src="/public/imagens/produto2.png" alt="NovaCor Cobre Mais" />
            <p class="text-white font-semibold w-64">NovaCor Cobre Mais</p>
          </div>
          <div class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600">
            <img class="w-full h-fit" src="/public/imagens/produto3.png" alt="NovaCor Piso Premium" />
            <p class="text-white font-semibold w-64">NovaCor Piso Premium</p>
          </div>
          <div class="text-center space-y-4 px-40 py-10 max-w-96 flex flex-col rounded-xl justify-center items-center bg-blue-600">
            <img class="w-full h-fit" src="/public/imagens/produto4.png" alt="Metalatex Super Lavável" />
            <p class="text-white font-semibold w-64">Metalatex Super Lavável</p>
          </div>
        </div>
        <button onclick="window.location.href='#produtos'"
          >Quero conhecer mais os produtos</button
        >
      </section>
    </main>

    <!-- 
	<main>
      <section class="depoimentos" id="depoimentos">
        <h2>O que dizem sobre nós</h2>
        <div class="depoimento">
          <p>Fomos atendidos muito bem pelo pessoal...</p>
          <p>- Luis E. Watanabe</p>
        </div>
      </section>

      <section class="faq" id="faq">
        <h2>Perguntas e Respostas</h2>
        <div class="faq-item">
          <h3>Quais tipos de tintas e acabamentos vocês oferecem?</h3>
          <p>Oferecemos uma ampla variedade de tintas e acabamentos...</p>
        </div>
        <div class="faq-item">
          <h3>
            Vocês oferecem consultoria para escolha de tintas e acabamentos?
          </h3>
          <p>Sim, nossos especialistas estão prontos para ajudar...</p>
        </div>
        <div class="faq-item">
          <h3>As lojas estão abertas nos finais de semana?</h3>
          <p>Sim, estamos abertos aos sábados e domingos...</p>
        </div>
        <div class="faq-item">
          <h3>Vocês oferecem serviços de aplicação de tintas?</h3>
          <p>Sim, temos profissionais qualificados para a aplicação...</p>
        </div>
      </section>

      <section class="cta-final" id="orcamento">
        <h2>Não Deixe a Tinta Secar e Venha Conhecer Uma de Nossas Lojas</h2>
        <p>Na Império das Tintas, temos tudo o que você precisa...</p>
        <button onclick="window.location.href='#orcamento'"
          >Peça seu orçamento gratuito agora!</button
        >
      </section>
    </main> -->

    <!-- <footer>
      <div class="footer-content">
        <p>
          &copy; 2024 Império das Tintas - Todos Direitos Reservados.
          Desenvolvido por Conste Marketing
        </p>
        <div class="footer-links">
          <a href="#sobre-nos">Sobre Nós</a>
          <a href="#produtos">Produtos</a>
          <a href="#contato">Contato</a>
        </div>
        <div class="footer-social">
          <a href="#"><img src="images/facebook-icon.png" alt="Facebook" /></a>
          <a href="#"><img src="images/linkedin-icon.png" alt="LinkedIn" /></a>
        </div>
      </div>
      <div class="footer-location">
        <h3>Localização</h3>
        <p>Endereço da loja...</p>
      </div>
    </footer> -->
  </body>
</html>
